<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
      }

      .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .logo {
        text-align: center;
        margin-bottom: 20px;
      }

      h1 {
        font-size: 24px;
        color: #333333;
        margin: 0;
      }

      .order-details {
        margin-bottom: 20px;
      }

      .order-details table {
        width: 100%;
        border-collapse: collapse;
      }

      .order-details th,
      .order-details td {
        padding: 8px;
        border-bottom: 1px solid #dddddd;
        text-align: left;
      }

      .order-details th {
        background-color: #f5f5f5;
      }

      .total-amount {
        text-align: right;
        font-weight: bold;
      }

      .footer {
        margin-top: 20px;
        font-size: 12px;
        color: #999999;
        text-align: center;
      }

      .footer a {
        color: #999999;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <h1>Order Confirmation</h1>
        <p>Sent from Radiant Revival</p>
      </div>
      <div class="order-details">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Title</th>
              <th>Quantity</th>
              <th>Price per Item</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach(function(item) { %>
            <tr>
              <td>
                <img
                  src="https://raw.githubusercontent.com/Ankit-Ransh/ImageHosting/main/<%= item.image %>"
                  alt="Product Image"
                  height="60"
                  width="60"
                />
              </td>
              <td><%= item.title %></td>
              <td><%= item.cartQuantity %></td>
              <td><%= item.price %></td>
              <td> &#8377;<%= parseInt(item.price.replace('$', '')) * item.cartQuantity * 80 %>
              </td>
              <!-- Calculate total -->
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="total-amount">
        Amount Paid: &#8377;<%= orderSummary.cost/100 %> (Shipping Charges: <%
        if (orderSummary.shippingCharges === 0) { %> Free <% } else { %>
        &#8377;<%= orderSummary.shippingCharges/100 %> <% } %> )
      </div>

      <div class="footer">
        <p>
          This email has been sent to the email address associated with your
          account: <%= orderSummary.email %>. For any further communication, we
          will reach out to you directly at the phone number provided: <%=
          orderSummary.phone %>.
        </p>

        <p>
          Shipping Address:
          <br />
          <%= orderSummary.line1 %> <%= orderSummary.line2 %>, <%=
          orderSummary.city %>, <%= orderSummary.postal_code %>, <%=
          orderSummary.state %>
        </p>
      </div>
    </div>
  </body>
</html>
